[submodule "static/jQuery-File-Upload"]
 path = static/jQuery-File-Upload
 url = https://github.com/blueimp/jQuery-File-Upload
[submodule "static/jquery-dropdown"]
 path = static/jquery-dropdown
 url = https://github.com/claviska/jquery-dropdown
[submodule "static/tag-it"]
 path = static/tag-it
 url = https://github.com/aehlke/tag-it
[submodule "static/jquery-ui-touch-punch"]
 path = static/jquery-ui-touch-punch
 url = https://github.com/furf/jquery-ui-touch-punch
[submodule "static/jquery-addresspicker"]
 path = static/jquery-addresspicker
 url = https://github.com/sgruhier/jquery-addresspicker
[submodule "lib/tumblr-python"]
 path = lib/tumblr-python
 url = https://github.com/bhautikj/tumblr-python
[submodule "lib/facebook-sdk"]
 path = lib/facebook-sdk
 url = https://github.com/pythonforfacebook/facebook-sdk/
[submodule "lib/python-flickr"]
 path = lib/python-flickr
 url = https://github.com/michaelhelmick/python-flickr
[submodule "lib/python-oauth2"]
 path = lib/python-oauth2
 url = https://github.com/simplegeo/python-oauth2
[submodule "lib/webpy"]
 path = lib/webpy
 url = https://github.com/webpy/webpy
[submodule "lib/wordspew"]
 path = lib/wordspew
 url = https://github.com/bhautikj/wordspew
[submodule "lib/python-twitter"]
	path = lib/python-twitter
	url = https://github.com/bear/python-twitter
[submodule "lib/DBWrapper"]
 path = lib/DBWrapper
 url = https://github.com/bhautikj/DBWrapper
[submodule "static/jQuery-Timepicker-Addon"]
	path = static/jQuery-Timepicker-Addon
	url = https://github.com/trentrichardson/jQuery-Timepicker-Addon
