foo/*

lib/web

lib/tumblr

lib/oauth2

lib/minimal_exif_reader.pyc

lib/minimal_exif_reader.py

lib/iptcinfo.pyc

lib/iptcinfo.py

lib/httplib2

lib/flickr.pyc

lib/flickr.py

lib/facebook.pyc

lib/facebook.py

lib/exif/minimal_exif_writer.py

lib/exif/minimal_exif_reader.py

lib/exif/EXIF.py

auth.pickle

lib/

static/imagestore

*.pyc

.DS_Store

wipedb

foo/20110409-093051.jpg
