body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
  background-color: #222222;
}

body,html{
  height:100%;
  width:100%;
}

select{
  font-size: 100%;
  -webkit-appearance: menulist-button;
}

.inlineElem 
{
  display:inline-block;
}

.jobBar 
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;

  padding: 0px;
  margin: 0px;
  background-color: #000;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 100%;
/*   always on top of everything */
  z-index:30;
}

.menuBox
{
  border-left-style:solid;
  border-right-style:solid;
  border-width:1px;
  padding: 2px;
}

.floatRight
{
  float:right;
}

.floatRight { color: #FFFFFF; }
.floatRight link {text-decoration: none}
.floatRight visited {text-decoration: none}
.floatRight active {text-decoration: none}
.floatRight hover {text-decoration: underline; color: red;}

.menuBox A { color: #FFFFFF; }
.menuBox A:link {text-decoration: none}
.menuBox A:visited {text-decoration: none}
.menuBox A:active {text-decoration: none}
.menuBox A:hover {text-decoration: underline; color: red;}

.jobBar .left
{
  float:left; margin: 5px;
}

.jobBar .right
{
  float:right; margin: 5px;
}

#imagesTab
{
  padding: 0px;
  margin: 0px;
  overflow:hidden;
}

#uploadImages
{
  padding: 5px;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index:15;
  background-color: #000;
  color: #FFFFFF;
  font-size: 100%;
  width: 100%;
  height: 100%;
}

#authPage
{
  margin: 0px;
  padding: 0px;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index:15;
  background-color: #000;
  color: #FFFFFF;
  font-size: 100%;
  width: 100%;
  height: 100%;
}

#jobsPage
{
  margin: 0px;
  padding: 0px;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index:15;
  background-color: #000;
  color: #FFFFFF;
  font-size: 100%;
  width: 100%;
  height: 100%;
}

#editBox 
{
  overflow: hidden;
}


#editBox #editOpts {
  padding: 5px;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index:15;
  background-color: #000;
  filter:alpha(opacity=80);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 100%;
  width: 700px;
}

#editBox #standardOpts
{
  padding: 5px;
  width: 100%;
}

#editBox #servicesOpts
{
  padding: 5px;
  width: 100%;
}

#editBox #flickrOpts
{
  padding: 5px;
  width: 100%;
}

#editBox #templateOpts
{
  padding: 5px;
  width: 100%;
}

#editBox #geoCodeOpts
{
  padding: 5px;
  width: 100%;
}

#editBox #editTitle
{
  font-size: 300%;
}

#editBox #editDescription
{
  font-size: 200%;
}

#editBox p
{
  margin: 0;
}

#editBox ul
{
  margin-top: 0; 
  width: 90%;
}

#editorSlide {
}

#editorSlide IMG {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index:8;
}

#editorSlide IMG.active {
  z-index:10;
}

#editorSlide IMG.last-active {
  z-index:9;
}


.selectList 
{
  max-height: 200px;
  width: 250px;
  overflow: auto;
  display: inline-block;
}


.selectList .ui-selecting { background: #FECA40; }
.selectList .ui-selected { background: #F39814; color: white; }
.selectList { list-style-type: none; margin: 0; padding: 0; }
.selectList li { margin: 0px; padding: 5px; font-size: 1.0em; width:200px; }

.styledInput {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
}

/* for the geo picker */
.map-wrapper
{
  float:left;
  margin: 0 10px 0 10px;
}

#map {
  border: 1px solid #DDD;
  width:300px;
  height: 300px;
  margin: 10px 0 10px 0;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

.authStatus
{
  width:200px;
}

.authFalse
{
  background: #AA2222;
}

.authTrue
{
  background: #22AA22;
}

